footer .whatsApp {
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: turquoise;
  top: 0;
}
header .miLogo {
  width: 300px;
  display: block;
}
header .forFondo {
  background-color: pink;
  border-radius: 50px;
}
header li:hover {
  background-color: turquoise;
  color: pink;
  border-radius: 15px;
}

main .ventas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin: 36px 0;
}
main .pepito {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 70px;
  background-color: cyan;
  border-radius: 5px;
  display: inline-block;
}
main .fotoVenta {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 20px;
}
main .tituloVenta {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
main .precio {
  font-size: 24px;
  font-weight: bold;
  color: fuchsia;
}
main .compra {
  padding: 10px 20px;
  background-color: fuchsia;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
main .hola {
  color: fuchsia;
}
main .parrafo, main h5 {
  color: black;
}
main .carrusel {
  width: 2000px;
}
main .carta {
  display: inline-block;
  margin: 300px;
}

footer .logoIg {
  width: 40px;
  margin-right: 1735px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
}

.whatsApp {
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

footer {
  
 
  background-color: turquoise; 
    color: black; 
    padding: 30px 0; 
  }
  
  
  .footer-title {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .footer-payship-img {
    margin-right: 10px; 
  }
  
  
  .contact-data {
    text-align: center;
  }
  
  .footer-list {
    list-style: none; 
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px; 
    
   
  font-size: 16px; 
  }
  
  
  .svg-text-fill {
    color: #fff; 
    margin-right: 5px; 
    
   
  font-size: 20px; 
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  
  .map-container {
    position: relative;
    overflow: hidden;
    
   
  padding-top: 75%; 
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .carta {
    width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
    max-width: 18rem; /* Establece un ancho máximo para la tarjeta */
  }
  
  /* Estilos para la imagen dentro de la tarjeta */
  .fotoEmpleado {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
  }
  
  /* Estilos para el texto dentro de la tarjeta */
  .card-text {
    
   
  font-size: 16px; /* Tamaño de fuente del texto */
    
   
  text-align: center; /* Centra el texto horizontalmente */
  }
/*# sourceMappingURL=estilo.css.map */

